
.only-pad {
  display: none;

  @media (max-width: 1439px) {
    display: initial;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.non-pad {
  @media (max-width: 1439px) {
    display: none;
  }
}

.only-desk {
  @media (max-width: 1439px) {
    display: none !important;
  }
}

.non-desk {
  display: none;
  @media (max-width: 1439px) {
    display: initial;
  }
}


/* .only-mobile {
  display: none;
  @media all and (max-width: ) {
    display: initial;
  }
}

.only-mobile-block {
  display: none !important;
  @media all and (max-width: ) {
    display: block !important;
  }
} */


/* .non-mobile {
  @media all and (max-width: v.$adaptive-mobile-limit) {
    display: none !important;
  }
} */


