@import './variables.css';
@import './fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  padding: 20px 20px;
  align-items: center;
  background: var(--c-dark);
}

.title {
  color: var(--c-white);
  font-family: var(--font-family-forum);
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.header__menu {
  margin-left: 454px;
}

.menu {
  display: flex;
  column-gap: 30px;
  list-style: none;
}

.menu__link {
  text-decoration: none;
  color: var(--c-white);
  font-family: var(--font-family-inter);
  font-size: 20px;
  line-height: 50px;
}

.profile {
  width: 28px;
  height: auto;
  margin-left: 42px;
  cursor: pointer;
}

.profile:hover {
  opacity: 0.5;
}

.welcome {
  width: 100%;
  padding: 220px 0 160px;
  background-image: url('../assets/bg_welcome.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg {
  display: inline-block;
  padding: 35px 40px;
  background: var(--c-dark);
}

.greeting-text {
  width: 520px;
  color: var(--c-white);
  text-align: center;
  font-family: var(--font-family-forum);
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--c-white);
}

.about-content {
  padding: 0 20px;
  width: 100%;
}

.blocks-title {
  margin: 20px 0;
  color: var(--c-dark);
  font-family: var(--font-family-forum);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.line {
  margin-bottom: 40px;
  background: var(--c-dark);
  width: 50px;
  height: 1px;
}

.subtitle {
  padding-bottom: 20px;
  color: var(--c-black);
  font-family: var(--font-family-inter);
  font-size: 20px;
  line-height: 40px;
}

.gallery {
  display: flex;
  column-gap: 25px;
  overflow: hidden;
}

.circles {
  display: flex;
  margin: 35px 0 35px;
}

.circle__btn {
  padding: 5px;
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  cursor: pointer;
}

.btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--c-dark);
  border: none;
  cursor: pointer;
}

.btn_active {
  background-color: var(--c-gold);
  cursor: pointer;
}

.favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--c-white);
}

.container {
  width: 100%;
}

.selection-seasons {
  margin-bottom: 40px;
  color: var(--c-black);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-weight: 700;
}

.container__seasons {
  display: flex;
  column-gap: 90px;
}

.container__seasons > li {
  position: relative;
  list-style-type: none;
}

li > .radio-btn + .season {
  display: flex;
  align-items: center;
  column-gap: 20px;
  cursor: pointer;
}

.radio-btn {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio-btn + .season::before {
  content: '';
  width: 11px;
  height: 11px;
  accent-color: var(--c-black);
  border: 2px solid var(--c-black);
  border-radius: 50%;
}

.radio-btn:checked + .season::before {
  content: '';
  width: 11px;
  height: 11px;
  accent-color: var(--c-black);
  border-radius: 50%;
  background: var(--c-black);
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px var(--c-black);
}

.season {
  margin-left: 2px;
  color: var(--c-black);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.radio-btn:checked + .season {
  font-weight: 700;
}

.favorites__content {
  /* margin-bottom: 60px; */
  padding: 0 60px 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  row-gap: 40px;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 550px;
  min-height: 555px;
  padding: 15px 0 0 20px;
  border: 1px solid var(--c-black);
  background: var(--c-white);
  display: flex;
  flex-direction: column;
}

.hidden-books {
  display: none;
}

.card__staff {
  color: var(--c-black);
  font-family: var(--font-family-forum);
  font-size: 20px;
  line-height: 37px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.card__line {
  margin-bottom: 20px;
  width: 60px;
  height: 1px;
  background: var(--c-gold);
}

.card__title {
  margin-bottom: 20px;
  color: var(--c-black);
  font-family: var(--font-family-inter);
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__title > span {
  color: var(--c-black);
  font-family: var(--font-family-inter);
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.card__description {
  /* margin-bottom: 15px; */
  color: var(--c-black);
  font-family: var(--font-family-inter);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.card__box-btn {
  margin-top: auto;
  margin-bottom: 15px;
}

.card__btn {
  padding: 8px 25px;
  color: var(--c-black);
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  border-radius: 2px;
  border: 1px solid var(--c-black);
  cursor: pointer;
  background-color: var(--c-white);
}

.card__btn:enabled:hover {
  border-radius: 2px;
  border: 1px solid #bb945f;
  background: #bb945f;
}

.btn_gold {
  color: var(--c-gold);
  border: 1px solid var(--c-gold);
  cursor: pointer;
}

.img-book {
  position: absolute;
  width: 200px;
  bottom: -1px;
  right: -40px;
}

.coffee-shop {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--c-white);
}

.annotation {
  color: var(--c-black);
  text-align: center;
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

.coffee-shop__content {
  padding: 0 20px 0 20px;
  width: 100%;
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}

.left-card {
  width: 441px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.right-card {
  width: 482px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  row-gap: 40px;
}

.price-coffee {
  color: var(--c-gold);
  font-family: var(--font-family-forum);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.item__product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product {
  flex-grow: 1;
  color: var(--c-black);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.gold-line {
  margin: 0 59px;
  width: 100px;
  height: 1px;
  background: var(--c-gold);
}

.price {
  color: var(--c-black);
  font-family: var(--font-family-forum);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.our-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--c-white);
}

.our-contacts__content {
  padding: 0 20px 40px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.map {
  width: 696px;
  background-image: url('../assets/map.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bold-font {
  color: var(--c-black);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-decoration: none;
}

.thin-font {
  color: var(--c-black);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.link-amanda {
  margin-left: 4px;
}

.tel-box {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.telefone {
  text-decoration: none;
  color: var(--c-black);
  text-align: center;
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.name-box {
  margin: 20px 0 34px;
}

.digital {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--c-white);
}

.digital__content {
  padding: 0 20px 40px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-title {
  text-align: center;
  margin-bottom: 30px;
  color: var(--c-black);
  font-family: var(--font-family-inter);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.external-card {
  padding: 17px 17px 0 17px;
  border: 3px solid var(--c-gold);
  background: var(--c-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.internal-card {
  margin-bottom: 20px;
  padding: 20px 0 25px 20px;
  background: var(--c-gold);
}

.internal-card .text {
  margin-bottom: 20px;
  color: var(--c-black);
  font-family: var(--font-family-forum);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.input {
  width: 520px;
  padding: 8px 20px;
  color: var(--c-grey);
  font-family: var(--font-family-forum);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  border-radius: 10px;
  border: transparent;
  background: var(--c-white);
}

.input:focus {
  color: var(--c-black);
}

.box-input {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.check-btn {
  margin-bottom: 26px;
  padding: 9px 40px;
  color: var(--c-black);
  text-align: center;
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  background: var(--c-white);
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid var(--c-dark);
}

.check-btn:hover {
  border-radius: 2px;
  border: 1px solid var(--c-gold);
  background: var(--c-gold);
}

.box-btn {
  display: flex;
  justify-content: center;
}

.container__reader-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.reader-card {
  margin-bottom: 35px;
  color: var(--c-black);
  text-align: right;
  font-family: var(--font-family-forum);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.reader-card-description {
  margin-bottom: 35px;
  color: var(--c-black);
  text-align: right;
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.4px;
}

.box__btn-reader-card {
  display: flex;
  column-gap: 20px;
}

.btn-reader-card {
  color: var(--c-dark);
  width: 75px;
  height: 30px;
  padding: 10px 0;
  font-family: var(--font-family-inter);
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: 1px;
  background: var(--c-white);
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid var(--c-dark);
}

.btn-reader-card:hover {
  border-radius: 2px;
  border: 1px solid var(--c-gold);
  background: var(--c-gold);
}

.footer {
  padding: 20px 20px 0 20px;
  background-color: var(--c-dark);
  color: var(--c-white);
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.left-column > p {
  font-family: var(--font-family-inter);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.map-link {
  color: var(--c-white);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.left-column .box {
  margin-top: 18px;
  margin-bottom: 35px;
  display: flex;
  column-gap: 15px;
}

.left-column .box > li {
  list-style-type: none;
}

.left-column .box > li:hover {
  opacity: 0.5;
}

.left-column .box .icon {
  width: 24px;
}

.right-column {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.right-column > p {
  text-align: right;
  font-family: var(--font-family-inter);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer_line {
  width: 100%;
  height: 1px;
  background: var(--c-white);
}

.footer-content > .footer-text {
  flex-basis: 301px;
  color: var(--c-white);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
}

.right-link {
  text-align: right;
}

.footer-content > .footer-text:hover {
  color: var(--c-grey);
}

.padding {
  padding: 44px 0;
}

a:hover {
  color: var(--c-grey);
}
